# Directory created by bundle install
docs/vendor
docs/_site

# Virtual environment names
venv/

Gemfile.lock
.DS_Store

# LaTeX auxiliary files
cv.aux
cv.log
cv.out
cv.synctex.gz

#VSCode Settings
.vscode/